<section class="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__representatives">
        <div class="contacts__item">
          <p class="contact__category">CAFE</p>
        </div>
        <p class="contacts__title">Chicago</p>
        <p class="contacts__address">
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
        </p>
        <p class="contacts__title">Monday - Friday</p>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <p class="contacts__title">Saturday - Sunday</p>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
        <ul class="list contact-details">
          <li class="phone-link">
            <a class="link phone-link__contact" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="mail-link">
            <a class="link mail-link__contact" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__representatives">
        <div class="contacts__item">
          <p class="contacts__category">FOOD TRUCK</p>
        </div>
        <p class="contacts__title">Los Angeles</p>
        <p class="contacts__address">
          1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
        </p>
        <p class="contacts__title">Monday - Friday</p>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <p class="contacts__title">Saturday - Sunday</p>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
        <ul class="list contact-details">
          <li class="phone-link">
            <a class="link phone-link__contact" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="mail-link">
            <a class="link mail-link__contact" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__representatives">
        <div class="contacts-item">
          <p class="contacts__category">CAFE</p>
        </div>
        <p class="contacts__title">Nev York</p>
        <p class="contacts__address">
          726 Sterling Pl, Brooklyn, NY 11222, USA
        </p>
        <p class="contacts__title">Monday - Friday</p>
        <p class="contacts__time">06:00 AM - 10:00 PM</p>
        <p class="contacts__title">Saturday - Sunday</p>
        <p class="contacts__time">08:00 AM - 16:00 PM</p>
        <ul class="list contact-details">
          <li class="phone-link">
            <a class="link phone-link__contact" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="mail-link">
            <a class="link mail-link__contact" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <button
      type="button"
      class="button-contact button-contact_locations"
      data-modal-open
    >
      Our Locations >
    </button>
    <button
      type="button"
      class="button-contact button-contact_Franchise"
      data-modal-open
    >
      Franchise >
    </button>
  </div>
</section>
