<header class="main-header">
    <div class="container header">
        <nav class="navigation">
            <a class="link-logo" href="" lang="en">
                <img src="/src/images/hero/logo-desktop.png" alt="">
            </a>
            <ul class="menu-list">
                <li class="menu-item">
                    <a class="menu__link link current" href="./index.html">Home</a>
                </li>
                <li class="menu-item">
                    <a class="menu__link link" href="./index.html">About us</a>
                </li>
                <li class="menu-item">
                    <a class="menu__link link" href="./index.html">How It's made?</a>
                </li>
                <li class="menu-item">
                    <a class="menu__link link" href="./index.html">Our products</a>
                </li>
                <li class="menu-item">
                    <a class="menu__link link" href="./index.html">Contact</a>
                    <button class="button" type="button" data-modal-open>Buy now <a class="arrow"> ></a></button>
                </li>
            </ul>
    </div>
    <!--Hero-->
    <div class="hero"></div>
    <div class="container">
        <h1 class="main-title">ice cream made with passion</h1>
        <ul>
            <li class="product-button">
                <button class="button-hero" type="button" data-modal-open>Products</button>
            </li>
            <li class="menu__item HIM ">
                <a class="menu__link about" href="./index.html">How it's made?</a>
            </li>
        </ul>
    </div>
    <div class="smile ice cream and possessions">
        <img class="smile ice cream" src="/src/images/hero/ice-cream-desktop.png" alt="">
        <ul class="possessions">
            <li class="numbers">16</li>
            <li class="cafes">cafes</li>
            <li class="numbers">23</li>
            <li class="cafes">food trucks</li>
        </ul>
    </div>
    <div class="footer plate">
        <img class="ice plate" src="/src/images/hero/plate-desktop.png" alt="">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et</h3>
    </div>
    </div>